/*
COLORS
dark blue:#1E4F7F
light blue:#88C4FF
lighter Blue:#3C9EFF
Navy blue:#44627F
blue:#307ECC

*/


body {
    background-color: none;
    color:#307ECC;
}

#header {
    width:100%;
    background-color:none;
    min-height: 80px;
}

#header > h1{
  margin: 0;
    text-align: center;
    font-family: 'lato', sans-serif;
    position: relative;
    transform: translateY(50%); 
}

#nav {
       width: 100%;
    background-color: #307ecc;
    min-height: 80px;
    font-family: 'lato', sans-serif;
    height: auto
}
#nav > ul {
    text-align: center;
    padding: 0;
    margin: 0;
    transform: translateY(50%);
    
}

#nav > ul > button{
        min-width: 120px;
    color: #fff;
    background-color: #1E4F7F;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s;
    
} 

#nav > ul > button:hover {
       background-color: #88C4FF;
}

/*
.menu {
    display: flex;
    Background:#d6e4f1;
    justify-content: space-around;
    list-style: none;
    margin:0;
}
*/
#middle-wrapper-width {
            display: flex;
    font-family: 'lato', sans-serif;
    max-width: 960px;
    margin: auto;
}
#middle-wrapper {
        
}
.side-by-side{
    display:flex;
}
#main-content-wrapper .image-content {
    text-align: center;
    width:50%;
    margin-top:50px;
}

.image-content > img {
        max-width: 200px;
    border-radius: 50%;
}

.image-content > h4 {
    font-family: 'lato', sans-serif;
    font-weight: 300;
    color: #307ECC;
}

.image-content > h4 > a {
     color: #307ECC;
}
.image-content > h4 > a:hover {
     color: #44627F;
}

#main-content-wrapper article {
    width:50%;
    margin-top: 100px;
}

#main-content-wrapper article h2 {
    text-align: center;
}

#main-content-wrapper article p {
    max-width:300px;
    margin:0 auto;
}
#main-content-wrapper #skills {
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}
#main-content-wrapper #skills span {
    font-weight: 400;
    
}
#aside-content-wrapper {
    background-color: #fff;
    width:35%;
    font-family: 'lato', sans-serif;
}
#aside-right {
        margin: 0 50px 0 8px;
}
#aside-right h3 {
      text-align: center;
}
footer {
    background-color:coral;
    margin:0;
}
#latest-work {
        list-style-type: none;
}
/* 505 video 5*/
#latest-work > li {
       padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid black; 
}
footer> h1{
    margin:0;
}